__There are 3 criteria to passing the Bechdel Test:__

1. The film has to have at least two [named] women in it,
2. who talk to each other,
3. about something besides a man

In [1]:
import pandas as pd
import numpy as np

In [2]:
# read data 
# can use ExcelFile too
df=pd.read_excel('PD Bechdel Test.xlsx', sheet_name='Webscraping')

In [178]:
code_map=pd.read_excel('PD Bechdel Test.xlsx', sheet_name='html')

In [179]:
code_map.head()

  Char Numeric   Named       Description
0  NaN    code    code               NaN
1  NaN   &#32;     NaN             space
2    !   &#33;     NaN  exclamation mark
3    "   &#34;  &quot;      double quote
4    #   &#35;     NaN            number

In [4]:
df.shape

(9417, 2)

In [72]:
pd.options.display.max_columns=None
pd.options.display.max_rows=None
df.head()

,DownloadData,Year,Pass/Fail,Categorisation
0,"<a href=""http://us.imdb.com/title/tt3155794/"">...",1874,fail,Fewer than two women in this movie
1,"<a href=""http://us.imdb.com/title/tt14495706/""...",1877,fail,Fewer than two women in this movie
2,"<a href=""http://us.imdb.com/title/tt12592084/""...",1878,fail,Fewer than two women in this movie
3,"<a href=""http://us.imdb.com/title/tt2221420/"">...",1878,fail,Fewer than two women in this movie
4,"<a href=""http://us.imdb.com/title/tt7816420/"">...",1881,fail,Fewer than two women in this movie

In [16]:
df.dtypes

DownloadData    object
Year             int64
dtype: object

In [274]:
# remove strings after 'return' for each row
Str_parse=df['DownloadData'].str.split('; return',expand=True).iloc[:,0]

In [275]:
# split strings using '"' and find useful columns
Str_parse_filter=Str_parse.str.split('"',expand=True).iloc[:,[3,7,11]]

In [276]:
Str_parse_filter.head()

,3,7,11
0,/static/nopass.png,[Fewer than two women in this movie],/view/9602/passage_de_venus/
1,/static/nopass.png,[Fewer than two women in this movie],/view/9804/la_rosace_magique/
2,/static/nopass.png,[Fewer than two women in this movie],/view/9806/le_singe_musicien/
3,/static/nopass.png,[Fewer than two women in this movie],/view/9603/sallie_gardner_at_a_gallop/
4,/static/nopass.png,[Fewer than two women in this movie],/view/9816/athlete_swinging_a_pick/

In [284]:
# add 'Pass/Fail' column
df['Pass/Fail']=Str_parse_filter[3].str.split('.',n=1, expand=True)[0].str.rsplit('/',n=1, expand=True)[1].values

In [285]:
df['Pass/Fail'].replace('nopass','fail', inplace=True)
#df.loc[df['Pass/Fail']=='nopass','Pass/Fail']='fail'

In [286]:
# find 5 Categorisations
Str_parse_filter[7].unique()

array(['[Fewer than two women in this movie]',
       "[There are two or more women in this movie, but they don't talk to each other]",
       '[There are two or more women in this movie and they talk to each other about something other than a man]',
       '[There are two or more women in this movie, but they only talk to each other about a man]',
       '[There are two or more women in this movie and they talk to each other about something other than a man, although dubious]'],
      dtype=object)

In [287]:
# add Categorisation column
#Method 1
Str_parse_filter[7].str.extract(r'\[(.*)\]').head()

                                    0
0  Fewer than two women in this movie
1  Fewer than two women in this movie
2  Fewer than two women in this movie
3  Fewer than two women in this movie
4  Fewer than two women in this movie

In [288]:
# add Categorisation column
#Method 2

df['Categorisation']=Str_parse_filter[7].apply(lambda st: st[st.find('[')+1:st.find(']')])

In [290]:
# add Movie Title
#df['Movie Title']=Str_parse_filter[11].str.split('/', expand=True)[3].replace(regex=r'&#39;',value="'")
df['Movie Title']=Str_parse_filter[11].str.split('/', expand=True)[3].replace(regex=r'&amp;',value="&")

In [291]:
# extract the html codes from the Movie titles
# These will always start with a '&' and end with a ';' and maximum length is 6
codes_find=df['Movie Title'].str.extract(r'(&.{,6};)')[0].dropna().unique()

In [292]:
codes_find

array(['&#39;', '&ouml;', '&auml;', '&egrave;', '&ocirc;', '&acute;',
       '&frac12;', '&ograve;', '&#146;', '&eacute;', '&agrave;',
       '&ucirc;', '&iacute;', '&acirc;', '&#378;', '&oslash;', '&aacute;',
       '&amp;', '&euml;', '&quot;', '&#333;', '&aring;', '&uuml;',
       '&ntilde;', '&#305;', '&ecirc;', '&atilde;', '&oacute;', '&#150;'],
      dtype=object)

In [293]:
code_map.loc[(code_map['Numeric']==codes_find[0])|(code_map['Named']==codes_find[0]), 'Char'].unique()[0]

"'"

In [294]:
# use while and for loop to replace the html codes with their correct characters
while len(codes_find)>0:
    for i in range(len(codes_find)):
        C_v=code_map.loc[(code_map['Numeric']==codes_find[i])|(code_map['Named']==codes_find[i]), 'Char'].unique()[0]
        df['Movie Title']=df['Movie Title'].replace(regex=codes_find[i],value=C_v)
    codes_find=df['Movie Title'].str.extract(r'(&.{,6};)')[0].dropna().unique()

In [113]:
# inefficient method:
# one by one replace the html codes with their correct characters
# df['Movie Title']=df['Movie Title'].replace(regex=r'&eacute;',value="\u00e9")
# df['Movie Title']=df['Movie Title'].replace(regex=r'&#378;',value="\u017a")
# df['Movie Title']=df['Movie Title'].replace(regex=r'&amp;',value="&")
# df['Movie Title']=df['Movie Title'].replace(regex=r'&#333;',value="\u014d")
# df['Movie Title']=df['Movie Title'].replace(regex=r'&#305;',value="\u0131")
# df['Movie Title']=df['Movie Title'].replace(regex=r'&#150;',value="-")
# df['Movie Title']=df['Movie Title'].replace(regex=r'&egrave;',value=" ")

In [306]:
# change '_' to space and title
df['Movie Title']=df['Movie Title'].replace(regex=r'_',value=' ').str.title()

In [307]:
df_update=df.drop(columns='DownloadData')

In [308]:
# double check if all the html codes have been replaced 
df_update['Movie Title'][df_update['Movie Title'].str.contains('&')]

613                                      Fun & Fancy Free
1027                                     Advise & Consent
1122                                       King & Country
1411                                 Mccabe & Mrs. Miller
1431                  Willy Wonka & The Chocolate Factory
1514                          Pat Garrett & Billy The Kid
2280                         Planes, Trains & Automobiles
2299                                         Withnail & I
2355                                     Oliver & Company
2390                     Bill & Ted'S Excellent Adventure
2395            The Cook, The Thief, His Wife & Her Lover
2449                                         Tango & Cash
2452                                       Turner & Hooch
2527                  Rosencrantz & Guildenstern Are Dead
2546                           Bill & Ted'S Bogus Journey
2622                                      Thelma & Louise
2717                                         Benny & Joon
2750                                       Heaven & Earth
2841                                        Dumb & Dumber
3067                             Connie Gomper & The Pack
3122                                           Manny & Lo
3147                                       Secrets & Lies
3165                          The Truth About Cats & Dogs
3188                                       Batman & Robin
3235                                             In & Out
3303                         Batman & Mr. Freeze: Subzero
3355                                           Love & Pop
3441                                       Aimee & Jaguar
3542                    South Park: Bigger Longer & Uncut
3651                               Kevin & Perry Go Large
3658                                    Love & Basketball
3812                                       Kate & Leopold
3883                                        Sugar & Spice
3928    Asterix & Obelix: Mission Cleopatra (Astérix E...
3934                                         Ben & Arthur
4097                                       Yossi & Jagger
4191                Legally Blonde 2: Red, White & Blonde
4227                                 Prey For Rock & Roll
4304                  Bratz The Video: Starrin' & Stylin'
4482                                         Adam & Steve
4565                                        Hustle & Flow
4567                                     Imagine Me & You
4604                Miss Congeniality 2: Armed & Fabulous
4608                                     Mr. & Mrs. Smith
4635                                 Romance & Cigarettes
4678       Wallace & Gromit: The Curse Of The Were-Rabbit
4764                                        Dead & Deader
4844                                       Love & Suicide
4887                The Prince & Me Ii: The Royal Wedding
5256                           Bonnie & Clyde Vs. Dracula
5338                                       Herb & Dorothy
5377                                          Marley & Me
5529                                      Angels & Demons
5574                        Coco Chanel & Igor Stravinsky
5617                                       Fast & Furious
5684                                        Julie & Julia
5909                                         Chico & Rita
5958                                 Fanny, Annie & Danny
6078    Percy Jackson & The Olympians: The Lightning T...
6217                   A Very Harold & Kumar 3D Christmas
6287                                     Cowboys & Aliens
6314                    Extremely Loud & Incredibly Close
6338                                      Gnomeo & Juliet
6462                      Peace, Love, & Misunderstanding
6546                                       Violet & Daisy
6680                                   Ernest & Celestine
6720                                 Hemingway & Gellhorn
6807                                  Papadopoulos & Sons
6838                                        Robot & Frank
6933                                            21 & Over
6970                  Barbie & Her Sisters In A Pony Tale
7016          Crystal Fairy & The Magical Cactus And 2012
7095                                      Hansel & Gretel
7096                       Hansel & Gretel: Witch Hunters
7133                                        Jeune & Jolie
7172                                       Love & Air Sex
7220                                          Pain & Gain
7564                                         Love & Mercy
7629                                Planes: Fire & Rescue
7836                                  Fathers & Daughters
7924                                         Maend & Hons
8115                                   Big Fish & Begonia
8171                                        Elvis & Nixon
8256                                    Love & Friendship
8326                                      Ratchet & Clank
8365                     Thomas & Friends: The Great Race
8468                           Deidra & Laney Rob A Train
8652                                     Victoria & Abdul
8731                                       Daphne & Velma
8839                                The Old Man & The Gun
8866                                           Senses 1&2
8883                                         Stan & Ollie
8990                Fast & Furious Presents: Hobbs & Shaw
9102                                         Queen & Slim
9173                            Bill & Ted Face The Music
9199                                      Gretel & Hansel
Name: Movie Title, dtype: object

In [309]:
# add rank
df_update.loc[df_update['Categorisation']==df_update['Categorisation'].unique()[2],'Rank']=1
df_update.loc[df_update['Categorisation']==df_update['Categorisation'].unique()[4],'Rank']=2
df_update.loc[df_update['Categorisation']==df_update['Categorisation'].unique()[3],'Rank']=3
df_update.loc[df_update['Categorisation']==df_update['Categorisation'].unique()[1],'Rank']=4
df_update.loc[df_update['Categorisation']==df_update['Categorisation'].unique()[0],'Rank']=5

In [310]:
df_update['Rank']=df_update['Rank'].astype(int)

In [311]:
df_update.shape

(9417, 5)

In [312]:
#sort values based on 'Movie Title','Rank' so that the duplicated films with smaller values of rank can be removed
df_update_sort=df_update.sort_values(by=['Movie Title','Rank'], ascending=False)

In [313]:
# remove duplicated films with smaller values of rank
df_update_sort.drop_duplicates(subset=['Movie Title','Year'], inplace=True)

In [314]:
df_update_sort.shape

(9408, 5)

In [316]:
df_update_sort.head(100)

,Year,Pass/Fail,Categorisation,Movie Title,Rank
6201,2011,fail,Fewer than two women in this movie,Á Annan Veg,5
6926,2012,pass,There are two or more women in this movie and ...,[Rec]3 Genesis,1
5844,2009,fail,"There are two or more women in this movie, but...",[Rec] 2,4
5225,2007,pass,There are two or more women in this movie and ...,[Rec],1
2062,1984,fail,"There are two or more women in this movie, but...",Zwei Nasen Tanken Super,4
4957,2006,pass,There are two or more women in this movie and ...,Zwartboek,1
7340,2013,fail,"There are two or more women in this movie, but...",Zum Geburtstag,3
1146,1964,fail,Fewer than two women in this movie,Zulu,5
1605,1975,fail,"There are two or more women in this movie, but...",Zorro,4
7339,2013,fail,Fewer than two women in this movie,"Zoran, Il Mio Nipote Scemo",5
8396,2016,pass,There are two or more women in this movie and ...,Zootopia,1
9164,2019,pass,There are two or more women in this movie and ...,Zoombies 2,1
8395,2016,pass,There are two or more women in this movie and ...,Zoombies,1
4956,2006,pass,There are two or more women in this movie and ...,Zoom,1
3908,2001,pass,There are two or more women in this movie and ...,Zoolander,1
9298,2020,pass,There are two or more women in this movie and ...,Zombies 2,1
9163,2019,pass,There are two or more women in this movie and ...,Zombieland: Double Tap,1
5843,2009,pass,There are two or more women in this movie and ...,Zombieland,1
5497,2008,pass,There are two or more women in this movie and ...,Zombie Strippers!,1
7338,2013,pass,There are two or more women in this movie and ...,Zombie Hunter,1
7734,2014,pass,There are two or more women in this movie and ...,Zombeavers,1
8920,2018,pass,There are two or more women in this movie and ...,Zoe,1
5224,2007,fail,"There are two or more women in this movie, but...",Zodiac,4
7337,2013,fail,Fewer than two women in this movie,Zipi Y Zape Y El Club De La Canica,5
3432,1998,fail,"There are two or more women in this movie, but...",Zimmer Feri,3
7733,2014,pass,There are two or more women in this movie and ...,Zero Motivation,1
6925,2012,pass,There are two or more women in this movie and ...,Zero Dark Thirty,1
3907,2001,pass,There are two or more women in this movie and ...,Zenon: The Zequel,1
994,1960,pass,There are two or more women in this movie and ...,Zazie Dans Le Metro,1
4689,2005,fail,Fewer than two women in this movie,Zathura: A Space Adventure,5
1568,1974,fail,"There are two or more women in this movie, but...",Zardoz,3
3906,2001,pass,There are two or more women in this movie and ...,Zaion: I Wish You Were Here,1
9415,2021,pass,There are two or more women in this movie and ...,Zack Snyder'S Justice League,1
8919,2018,pass,There are two or more women in this movie and ...,Z-O-M-B-I-E-S,1
8070,2015,fail,Fewer than two women in this movie,Z For Zachariah,5
1337,1969,fail,"There are two or more women in this movie, but...",Z,4
7732,2014,fail,"There are two or more women in this movie, but...",Yves Saint Laurent,3
4476,2004,fail,Fewer than two women in this movie,Yu-Gi-Oh!: The Movie,5
8394,2016,fail,"There are two or more women in this movie, but...",Yu-Gi-Oh!: The Dark Side Of Dimensions,4
6200,2010,fail,"There are two or more women in this movie, but...",Yu-Gi-Oh! 3D: Bonds Beyond Time,4
5842,2009,fail,"There are two or more women in this movie, but...",Youth In Revolt,4
8069,2015,fail,"There are two or more women in this movie, but...",Youth,4
4688,2005,pass,There are two or more women in this movie and ...,"Yours, Mine And Ours",1
6572,2011,pass,There are two or more women in this movie and ...,Your Sister'S Sister,1
6571,2011,fail,"There are two or more women in this movie, but...",Your Highness,4
3431,1998,pass,There are two or more women in this movie and ...,Your Friends And Neighbors,1
5223,2007,fail,"There are two or more women in this movie, but...",Young People Fucking,4
7731,2014,fail,"There are two or more women in this movie, but...",Young Ones,4
439,1939,fail,"There are two or more women in this movie, but...",Young Mr. Lincoln,3
2382,1988,fail,"There are two or more women in this movie, but...",Young Guns,4
1567,1974,fail,"There are two or more women in this movie, but...",Young Frankenstein,3
7335,2013,fail,"There are two or more women in this movie, but...",Young Detective Dee: Rise Of The Sea Dragon,3
6570,2011,pass,There are two or more women in this movie and ...,Young Adult,1
4954,2006,fail,"There are two or more women in this movie, but...","You, Me And Dupree",4
3430,1998,pass,There are two or more women in this movie and ...,You'Ve Got Mail,1
7730,2014,pass,There are two or more women in this movie and ...,You'Re Not You,1
6569,2011,pass,There are two or more women in this movie and ...,You'Re Next,1
8068,2015,fail,Fewer than two women in this movie,You'Re My Boss,5
9297,2020,pass,There are two or more women in this movie and ...,You Will Never Be Back,1
6199,2010,pass,There are two or more women in this movie and ...,You Will Meet A Tall Dark Stranger,1
8670,2017,fail,"There are two or more women in this movie, but...",You Were Never Really Here,4
1263,1967,fail,"There are two or more women in this movie, but...",You Only Live Twice,4
6568,2011,pass,There are two or more women in this movie and ...,You Instead,1
8669,2017,pass,There are two or more women in this movie and ...,You Get Me,1
6198,2010,pass,There are two or more women in this movie and ...,You Again,1
8918,2018,pass,There are two or more women in this movie and ...,You,1
4097,2002,fail,"There are two or more women in this movie, but...",Yossi & Jagger,3
1026,1961,fail,"There are two or more women in this movie, but...",Yojimbo,4
6197,2010,fail,Fewer than two women in this movie,Yogi Bear,5
8392,2016,fail,"There are two or more women in this movie, but...",Yoga Hosers,3
5222,2007,pass,There are two or more women in this movie and ...,"Yobi, The Five-Tailed Fox (Cheon-Nyeon-Yeo-Woo...",2
7333,2013,pass,There are two or more women in this movie and ...,Yip Man: Jung Gik Yat Jin,1
5496,2008,fail,Fewer than two women in this movie,Yip Man,5
4096,2002,pass,There are two or more women in this movie and ...,Ying Xiong (Hero),2
3729,2000,pass,There are two or more women in this movie and ...,Yi Yi,1
5840,2009,pass,There are two or more women in this movie and ...,Yesterday Was A Lie,1
9162,2019,fail,"There are two or more women in this movie, but...",Yesterday,4
9161,2019,pass,There are two or more women in this movie and ...,"Yes, God, Yes",1
3905,2001,pass,There are two or more women in this movie and ...,"Yes, But...",1
5495,2008,fail,"There are two or more women in this movie, but...",Yes Man,4
3429,1998,pass,There are two or more women in this movie and ...,Yeogo Goedam,1
1990,1983,pass,There are two or more women in this movie and ...,Yentl,1
6196,2010,pass,There are two or more women in this movie and ...,Yellowbrickroad,1
1989,1983,fail,"There are two or more women in this movie, but...",Yellowbeard,4
1307,1968,fail,Fewer than two women in this movie,Yellow Submarine,5
6567,2011,pass,There are two or more women in this movie and ...,Yelling To The Sky,1
7332,2013,pass,There are two or more women in this movie and ...,Yeh Jawaani Hai Deewani,1
5839,2009,pass,There are two or more women in this movie and ...,Year One,1
5221,2007,pass,There are two or more women in this movie and ...,Year Of The Dog,1
5838,2009,pass,There are two or more women in this movie and ...,Year Of The Carnivore,1
3904,2001,fail,Fewer than two women in this movie,Y Tu Mama Tambien,5
5220,2007,pass,There are two or more women in this movie and ...,Xxy,1
5837,2009,pass,There are two or more women in this movie and ...,Xxxholic: Shunmuki - Zenpen,1
5836,2009,pass,There are two or more women in this movie and ...,Xxxholic: Shunmuki - Kouhen,1
6195,2010,pass,There are two or more women in this movie and ...,Xxxholic: Ro,1
6565,2011,fail,"There are two or more women in this movie, but...",Xxxholic Ro Adayume,4
8668,2017,pass,There are two or more women in this movie and ...,Xxx: Return Of Xander Cage,1
4095,2002,fail,"There are two or more women in this movie, but...",Xxx,4
7331,2013,fail,"There are two or more women in this movie, but...",Xi You Xiang Mo Pian (Journey To The West),3
1818,1980,pass,There are two or more women in this movie and ...,Xanadu,1

In [317]:
# output excel
df_update_sort.to_excel('Bechdel Test Output.xlsx', index=False)